body {
    margin: 0px; /* this helps remove the extra space on top */
    padding: 0px;
}

/* nav details start here */

.nav {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 20px; 
    background-color: #bfaec9;  /* hex color here */
    margin: 0px;
    padding: 18px 0px 18px 0px;
}

.nav ul {
    text-align: right;
    margin: 0px;
}

.nav li {
    display: inline-block;
    padding: 15px 20px 15px 0px;
    text-align: center; 
}

.nav a {
    color: white;
}

.nav a:link {
    text-decoration: none;
}

/*google font used here*/

.content {
    font-family: 'Merriweather', Georgia, serif;
    height: 100vh;
    margin: -22px;    /* this decreased the gap btw divs*/
    background: url('san-francisco-cover.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    padding: 70px 100px 50px 100px;
    color: white;
}