/* this external css pg styles both sub html pages */

body {
    margin: 0px;
    padding: 0px;
}

.box {
    background-color: #FAD7A0;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-bottom: 5px;
}

h2 {
    padding: 5px 30px;
    font-size: 30px;
    color: white;
    font-family: 'Bellefair', Helvetica, sans-serif;
}

.nav {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 20px;
    background-color: #FAD7A0;
    margin: 0px;
    padding: 18px 0px 18px 0px;
}

.nav ul {
    text-align: right;
    margin: 0px;
}

.nav li {
    display: inline-block;
    padding: 15px 30px 15px 0px;
    text-align: center; 
}

.nav a {
    color: white;
}

.nav a:link {
    text-decoration: none;
}

/* affects my subpage body*/

h1 {
    text-align: center;
    font-family: 'Merriweather', Georgia, serif;
    padding: 50px 0px 0px 0px;
}

.write {
    font-size: 25px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: left;
    padding: 30px 200px 30px 200px;
    margin: 0px 200px 0px 200px;

}

.subpage {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-bottom:15px;

}

/* affects my mini */

.mini {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 100px 200px 0px 200px;
    height: 100vh;

}


.hot {
    background: url('cropped-hotair.jpg');
    background-size: cover;
    background-position: center;
    
}

.redwood {
    background: url('cropped-redwood.jpg');
    background-size: cover;
    background-position: center;


}

.golden {
    background: url('cropped-golden-gate.jpg');
    background-size: cover;
    background-position: center;

}

.hot a {
    color: white;
    font-size: 70px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    
}

.hot a:link {
    text-decoration: none;
}

.redwood a {
    color: white;
    font-size: 70px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    
}

.redwood a:link {
    text-decoration: none;
}

.golden a {
    color: white;
    font-size: 70px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    
}

.golden a:link {
    text-decoration: none;
}

.top ul {
        text-align: right;
}

.top a {
    color: #108edb;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.top a:link {
    text-decoration: none;
}

.top li {
    display: inline-block;
    padding: 30px 210px 30px 210px;
    text-align: center; 
}

.taco {
    background: url('cropped-taco.jpg');
    background-size: cover;
    background-position: center;
    
}

.burma {
    background: url('cropped-thai.jpg');
    background-size: cover;
    background-position: center;


}

.wine {
    background: url('cropped-wine.jpg');
    background-size: cover;
    background-position: center;

}

.taco a {
    color: white;
    font-size: 70px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    
}

.taco a:link {
    text-decoration: none;
}

.burma a {
    color: white;
    font-size: 70px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    
}

.burma a:link {
    text-decoration: none;
}

.wine a {
    color: white;
    font-size: 70px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    
}

.wine a:link {
    text-decoration: none;
}

a:hover { 
    color: gray;
}