body {
    margin: 0px;
    padding: 0px;
}

.nav {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 20px;
    background-color: #bfaec9;
    margin: 0px;
    padding: 18px 0px 18px 0px;
}

.nav ul {
    text-align: right;
    margin: 0px;
}

.nav li {
    display: inline-block;
    padding: 15px 20px 15px 0px;
    text-align: center; 
}

.nav a {
    color: white;
}

.nav a:link {
    text-decoration: none;
}

/* affects my experience body*/

h1 {
    text-align: center;
    font-family: 'Merriweather', Georgia, serif;
    padding: 50px 0px 0px 0px;
}

.write {
    font-size: 25px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: left;
    padding: 30px 200px 30px 200px;
    margin: 0px 200px 0px 200px;

}

.experience {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-bottom:15px;

}

/* affects my mini */

.mini {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 100px 200px 0px 200px;
    height: 100vh;

}


.hot {
    background: url('cropped-hotair.jpg');
    background-size: cover;
    background-position: center;
    
}

.redwood {
    background: url('cropped-redwood.jpg');
    background-size: cover;
    background-position: center;


}

.golden {
    background: url('cropped-golden-gate.jpg');
    background-size: cover;
    background-position: center;

}

.hot a {
    color: white;
    font-size: 70px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    
}

.hot a:link {
    text-decoration: none;
}

.redwood a {
    color: white;
    font-size: 70px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    
}

.redwood a:link {
    text-decoration: none;
}

.golden a {
    color: white;
    font-size: 70px;
    font-family: 'Merriweather', Georgia, serif;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    
}

.golden a:link {
    text-decoration: none;
}