.container {
    height: 100vh;
    padding-top: 150px;
    font-family: 'Hammersmith One', sans-serif;
    
}

/* affects my nav  */

.nav {
    color: gray;
    font-size: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;
    background-color: white;
    font-family: 'Hammersmith One', sans-serif;
}

.body {
    font-family: 'Hammersmith One', sans-serif;
}

h3 {
    padding-left: 30px;
    margin-top: 0px;
}

/* affects all my navigation links  */

.nav ul {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-left: 30px;
}

.nav li {
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav a {
    color: gray;
}

.nav a:link {
    text-decoration: none;
}

.breakfast {
    display: flex;
    flex: auto;
    flex-direction: row;
    height: 400px;
    min-width: 150px;
    margin-bottom:15px;
}

/* affects all my mini */

.mini {
    display: flex;
    flex: auto;
    flex-direction: row;
    margin: 30px;
    min-width: 60px;
    width: 32%;
    
}

.clinton {
    background: url('sq-bakery.jpg');
    background-size: cover;
    background-position: center;
}

.friedman {
    background: url('sq-fried_chicken1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.feast {
    background: url('sqparfait.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.lunch {
    display: flex;
    flex: auto;
    flex-direction: row;
    height: 400px;
    min-width: 150px;
    margin-bottom:15px;
}

.black {
    background: url('sq-burger.jpg');
    background-size: cover;
    background-position: center;
}

.xian {
    background: url('sq-chinese.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.picnic {
    background: url('sq-sandwich.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.dinner {
    display: flex;
    flex: auto;
    flex-direction: row;
    height: 400px;
    min-width: 150px;
    margin-bottom:15px;
}

.mexican {
    background: url('sq-mexican.jpg');
    background-size: cover;
    background-position: center;
}

.sushi {
    background: url('sq-salmon.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.italian {
    background: url('sq-pasta.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* affects color of nav bar  */

.bar {
    background-color: #A6FFD6;
}

.end {
    margin-bottom: 30px;
}

/* affects all links in my pic boxes  */

.breakfast a {
    color: white;
    font-size: 50px;
    
}

.breakfast a:link {
    text-decoration: none;
}

.lunch a {
    color: white;
    font-size: 50px;
    
}

.lunch a:link {
    text-decoration: none;
}

.dinner a {
    color: white;
    font-size: 50px;
    
}

.dinner a:link {
    text-decoration: none;
}

p {
    margin-left: 70px;
    margin-right: 70px;
}
