/*Document information: Joan Santiago*/

body {
    width: 90%;
    margin: auto;
    align-content: center;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    background-color: white;
    padding-top: 10px;
}
.container{
    /*border: 1px red dotted; stay with-in*/
    width: 100%;
   /* padding: 40px 10px 10px 10px;*/
}

.nav {
    color: gray;
    font-size: 15px;
    position: static; /* make nav bar stay at top */
    font-family: 'Hammersmith One', sans-serif;
    background-color: #A6FFD6;
    width: 100%;
    text-align: left;
}

ul {
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-left: 30px;
}

li {
    display: inline-block;
    text-align: center;
    padding: 15px;
    padding-left: 0px;
}

a {
    color: #212652;
}
a:link{
    text-decoration: none;
}

/*a:hover{change font color on hover
    background-color: #329BE8;
    text-decoration: none;
    color: #ECF5FC;
    font-size: 20px;*/

h1{
    font-family:'Libre Franklin',sans-serif;
    text-align: center;
    color: #b38f00;
    padding-top: 30px;
}

h2{
    font-family:'Libre Franklin', sans-serif;
    text-align: center;
    padding: 15px 10px;
}

.zoo {
    padding: 20px;
}

.zoo p{
    margin-left: 30px;
    margin-right: 25px;
}


.pictures{
    /*3 pics across*/
    width: 95%;
    height: 25%;
    display: inline-block;
    text-align: center;
    margin: 20px 20px;
}

.pictures img{
    width: 30%;
    height: 100%;
}

.coney {
    padding: 20px;
    display: flex;
}

.coney img {
    margin: 20px;
    height: 50%;
    display: inline-block;
    padding-top: 20px;
    /*border: 2px brown dotted;*/
}

#luna{
    margin: 30px;
}

.mini {
    display: inline-block;
    padding: 20px;}

.central {
    padding: 20px;
    display: flex;
}

.park img{
    width: 85%;
    height: 25%;
    display: inline-block;
    margin: 15px;
}

#cp{
    margin: 30px;
    padding-top: 20px;
}