/*Document information: Joan Santiago*/

body {
        width: 90%;
        margin: auto;
        align-content: center;
        font-family: 'Hammersmith One', sans-serif;
        font-size: 20px;
        background-color: white;
        padding-top: 10px;
}
.container{
        /*border: 1px red dotted; stay with-in*/
        width: 100%;
}

.nav {
        color: gray;
        font-size: 15px;
        position: static; /* make nav bar stay at top */
        font-family: 'Hammersmith One', sans-serif;
        background-color: #A6FFD6;
        width: 100%;
        text-align: left;
}

ul {
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-left: 30px;
}

li {
    display: inline-block;
    text-align: center;
    padding: 15px;
    padding-left: 0px;
}

a {
    color: #212652;
}
a:link{
    text-decoration: none;
}

/*do not want h2 to hover a:hover{change font color on hover
    background-color: #329BE8;
    text-decoration: none;
    color: #ECF5FC;
    font-size: 20px;*/

h1{
    font-family:'Libre Franklin',sans-serif;
    text-align: center;
    color: #b38f00;
    margin-top: 40px;
}

h2{
    font-family:'Libre Franklin', sans-serif;
    text-align: center;
    padding: 15px 10px;
}
a{
    color: #28a428;
}

.zoo {
    margin: 30px;
}

.zoo p{
    margin-left: 30px;
    margin-right: 40px;
}


.pictures{
    /*3 pics across*/
    width: 95%;
    height: 25%;
    display: inline-block;
    text-align: center;
    margin: 20px 20px;
}

.pictures img{
    width: 30%;
    height: 100%;
    border: 2px #A6FFD6 solid;
    border-radius: 10px;

}

.coney {
    margin: 30px;
    display: flex;
}

.coney img {
    margin: 20px;
    height: 35%;
    display: inline-block;
    border: 2px #A6FFD6 solid;
    border-radius: 10px;
    /*border: 2px brown dotted;*/
}

#luna{
    margin-right: 35px;
    margin-top: 25px;
}

/*.mini {
    display: inline-block;
    padding: 20px;}*/
    
.central {
    margin: 40px;
    display: flex;
}

.park img{
    width: 85%;
    height: 25%;
    display: inline-block;
    margin: 15px;
    border: 2px #A6FFD6 solid;
    border-radius: 10px;
}

#cp{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
}