/*Document information - Author: Erma Pecoraro*/

body {
  width: 100%;
  margin: 0;
  background-color: white;
}

/*all fonts must be Hammersmith One, sans-serif*/

h1 {
  font-family: Hammersmith One, sans-serif;
  
}

.places {
  width: 100%;
  margin-left: 20px;
  text-align: center;
}

/*Navigation Bar*/

.nav {
    color: gray;
    font-size: 15px;
    font-family: Hammersmith One, sans-serif;
    background-color: #A6FFD6;
    width: 100%;
    text-align: left;
}

ul {
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-left: 30px;
}

li {
    display: inline-block;
    text-align: center;
    padding: 15px;
    padding-left: 0px;
}

/*sections go here*/
.museum {
  width: 1400px;
  height: 600px;
  margin-left: 60px;
  margin-top: 30px;
  border: 2px solid #A6FFD6;
  border-radius: 25px;
  background-color: white;
  padding-left: 60px;
}

.memorial {
  display: inline-block;
  width: 300px;
  height: 300px;
  vertical-align: top;
  font-family: Hammersmith One, sans-serif;
  font-size: 12px;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
  text-align: left;
}


.met {
  display: inline-block;
  width: 300px;
  height: 300px;
  vertical-align: top;
  font-family: Hammersmith One, sans-serif;
  font-size: 12px;
  margin-left: 130px;
  padding: 20px 20px 20px 20px;
  text-align: left;
  }

.history {
  display: inline-block;
  width: 300px;
  height: 300px;
  vertical-align: top;
  font-family: Hammersmith One, sans-serif;
  font-size: 12px;
  margin-left: 130px;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.landmark {
  width: 1400px;
  height: 600px;
  margin-left: 60px;
  font-family: Hammersmith One, sans-serif;
  font-size: 12px;
  border: 2px solid #A6FFD6;
  border-radius: 25px;
  background-color: #white;
  margin-top: 30px;
  padding-left: 60px;
}

.statue {
  display: inline-block;
  width: 300px;
  height: 300px;
  vertical-align: top;
  font-family: Hammersmith One, sans-serif;
  font-size: 12px;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.ellis {
  display: inline-block;
  width: 300px;
  height: 300px;
  vertical-align: top;
  margin-left: 130px;
  font-family: Hammersmith One, sans-serif;
  font-size: 12px;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.empire {
  display: inline-block;
  width: 300px;
  height: 300px;
  vertical-align: top;
  font-family: Hammersmith One, sans-serif;
  font-size: 12px;
  margin-left: 130px;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

h4 {
  font-family: Hammersmith One, sans-serif;
  font-size: 24px;
}

h5 {
  font-family: Hammersmith One, sans-serif;
  font-size: 12px;
}

/*footer will be placeholder to submit email*/
.footer {
  width: 500px;
  height: 100px;
  font-family: Hammersmith One, sans-serif;
  border: 2px solid blue;
  border-radius: 125px;
  background-color: #A6FFD6;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 600px;
}
/*form is only for show and is non-clickable for presentation only*/

form {
  width: 300px;
  height: 30px;
  font-family: Hammersmith One, sans-serif;
  margin-left: 100px;
  border: 2px solid black;
  color: black;
}
  a {
    text-decoration: none;
  }

